#question-view{
    background-color: black;
    min-height: 100vh;
    padding: 12px;
}

.navbar-toggler .collapsed{
    outline: none;
    border: none;
}
#question-text{
    color: #0f0;
    margin-bottom: 32px;
    /* border: 1px solid #0f0;
    padding: 12px; */
}


#question-container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#submit-btn{
    background-color: #3c3c3c;
    font-size: 12px;
    margin-bottom: 32px;
}

#hint-btn:focus{
    box-shadow: none;
    border: none;
    outline: none;
}

#hint-btn:hover{
    cursor: pointer;
}

#hint-btn{
    background-color: rgba(0,0,0,0);
    color: #0f0;
    border: none;
    font-size: 12px;
}

#answer-input{
    width: 260px;
}

#main-img{
    width: 400px;
    margin-bottom: 48px;
}
.input-group-text{
    color: #0f0;
    background-color: rgba(0,0,0,0);
    border: none;
    margin-bottom: 28px;
}

#answer-input .form-control{
    border: none;
    text-align: center;
}

#answer-input .form-control:focus{
    border: none;
    box-shadow: none;
}
@media (max-width: 767.98px) { 
    #main-img{
        width: 300px;
    }   

    #question-view{
        padding: 0;
    }
 }