#leaderboard{
    background-color: black;
    min-height: 100vh;
}

#leaderboard h3 {
    color: #0f0;
    padding-top: 72px;
    padding-bottom: 32px;
}

#back-btn{
    color: #00f;
    position: absolute;
    top: 0;
    left: 0;
    padding: 12px;
}

#back-btn a{
    text-decoration: none;
}

th{
    color: #0f0;
}

td{
    color: #36c;
}